<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>LocationMarkers</title>
		<!-- Include Vuejs -->
		<script type="text/javascript" src="./js/vue.js"></script>
		<!-- Include dayjs -->
		<script type="text/javascript" src="./js/dayjs.min.js"></script>
		<!-- Include Bootstrap via CDN -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
		<!-- Include FontAwesome via CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<!-- Import Google Map API with my key -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyAtlqVUt-HzvavwqmiRlwTV0SJp3prHiGE" defer></script>
	</head>
	<body>
		
		<div id="root">

			
			
			<!-- Div for google map -->
			<div id="mapCanvas">

			</div>

			<div class="card">
			<!-- Div for header -->
			<div class="card-header">
				<div class="row">
					<!-- Delete and acquire location button -->
						<div class="col col-md-2 buttons-area">
							<button class="btn btn btn-danger"><span class="glyphicon glyphicon-trash"></span><i class="fa fa-trash"></i></button>
							<button class="btn btn btn-secondary" id="location-button" @click="getCurrentLocation"><i class="fas fa-map-marker-alt"></i></button>
						</div>
					<!--Time zone -->
						<div class="col col-md-2">
							<div class="badge-area-left">
								<i class="fas fa-globe-americas"></i><span class="badge bg-secondary">{{timeZone}}</span>
							</div>
						</div>
					<!-- Search bar -->	
						<div class="col col-md-4 buttons-area">
							<input type="text" class="form-control" placeholder="Input the name or address of a location" @keydown.enter="makeSearch" v-model="address">
							<button class="btn btn btn-primary" @click="makeSearch"><i class="fa fa-search"></i></button>
						</div>
					<!-- Local time -->	
						<div class="col col-md-2">
							<div class="badge-area-right">
								<i class="far fa-clock"></i><span class="badge bg-secondary">{{currentTime}}</span>
							</div>
						</div>
					<!-- Pagination -->
					<div class="col col-md-2">
						<nav class="pagination-nav" aria-label="Page navigation example">
							<ul class="pagination justify-content-end" >
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="card-body">
				<!-- Table for address list -->
				<table class="table table-hover text-nowrap">
					<thead>
						<tr>
							<th><input type="checkbox"> Select All</th>
							<th><input type="checkbox"></th>
							<th><input type="checkbox"></th>
							<th><input type="checkbox"></th>
							<th><input type="checkbox"></th>
							<th><input type="checkbox"></th>
							<th><input type="checkbox"></th>
							<th><input type="checkbox"></th>
							<th><input type="checkbox"></th>
							<th><input type="checkbox"></th>
							<th><input type="checkbox"></th>
						</tr>
						<tr>
							<th>Index</th>
							<th v-for="(a,index) of markerList" :key="index">{{index+1}}</th>
						</tr>
						<tr>
							<th>Place</th>
							<th v-for="(a,index) of markerList" :key="index">{{a[1]}}</th>
						</tr>
					</thead>

				</table>
			<!-- Tooltip for errors -->
				<div v-if="error" class="error-modal">
					<div class="error-modal__content">
					  <h2>Error</h2>
					  <p>{{ error }}</p>
					  <button class="btn btn-danger" @click="closeErrorModal"><i class="fas fa-times"></i></button>
					</div>
				  </div>
			</div>
			
			</div>
			</div>
		</div>

		<script type="text/javascript">
			//Turn off vue production tips
			Vue.config.productionTip = false
			new Vue({
				el:'#root',
				data:{
					address:"",
					timeZone:"(Time Zone Name)",
					currentTime:"(Local Current Time)",
					markerList:[
						[{"lat": 43.7482617, "lng": -79.2894414}, "Accuenergy 22 howden road"],
						[{"lat":39.904211,"lng":116.407395}, "Beijing Accuenergy Technology"],
						[{"lat":30.5986568,"lng":114.3424844}, "Wuhan University of Technology"],
						[{"lat":23.0218499,"lng":113.12192}, "China Unicom Foshan Branch"],
						[{"lat":30.500591,"lng":114.4308863}, "Wuhan Fiberhome Technology"],			
						[{"lat":14.5581873,"lng":121.0184614}, "Wuhan FiberHome Phils"],
						[{"lat":43.0095971,"lng":-81.2737336}, "Western University"],
						[{"lat":43.65378310000001,"lng":-79.3699926}, "Securicore Inc Toronto"],
					],
					error:null,
				},
				methods: {
					makeSearch(){
						//Save vue instance to window object
						window.vueInstance = this;
						let geocoder = new google.maps.Geocoder();
						let currentAddress = window.vueInstance.address;
						geocoder.geocode({ address: currentAddress }, function(results, status) {
								if (status === google.maps.GeocoderStatus.OK) {
									// Get the first place from the response
									let location = results[0].geometry.location;

									// Get lat and lng
									let latLng = {
									lat: location.lat(),
									lng: location.lng()
									};

									// return a string
									let result = [latLng, currentAddress];

									window.vueInstance.markerList.push(result);
									// let marker = new google.maps.Marker({
									// 	position: latLng,
									// 	map: window.initMap,
									// 	title: currentAddress
									// });
									initMap();
									window.vueInstance.getTimeZone();
									// window.vueInstance.getLocalTime();
									

								} else {
									window.vueInstance.showErrorModal( status + " ***Please input a more detailed name or address***");
									// console.log("Geocode was not successful for the following reason: " + status);
								}
								});

					},
					getCurrentLocation(){
						window.vueInstance = this;
						if (navigator.geolocation) {
						// current location exists
						navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
						} else {
							window.vueInstance.showErrorModal("Can not get your current location");
						// console.log('Can not get current location');
						}

						function successCallback(position) {
						let latitude = position.coords.latitude;
						let longitude = position.coords.longitude;
						let latLng = {
									lat: latitude,
									lng: longitude
									};
						let result = [latLng, "Your Current Location"];
						// Add your current location to the table and add marker onto the map 
									window.vueInstance.markerList.push(result);
									initMap();
						
						}

						function errorCallback(error) {
							window.vueInstance.showErrorModal("Can not get your current location");
						// console.log('Can not get current location', error.message);
						}


						},
						getTimeZone() {
						//Save vue instance to window object
						window.vueInstance = this;
						let lastestSearch = window.vueInstance.markerList;
						// console.log(lastestSearch[lastestSearch.length-1][0].lat);
						const latitude = lastestSearch[lastestSearch.length-1][0].lat; 
						const longitude = lastestSearch[lastestSearch.length-1][0].lng; 
						const timestamp = Math.floor(Date.now() / 1000);
						const apiKey = "AIzaSyAtlqVUt-HzvavwqmiRlwTV0SJp3prHiGE"; 

						const url2 = `https://maps.googleapis.com/maps/api/timezone/json?location=${latitude},${longitude}&timestamp=${timestamp}&key=${apiKey}`;

						const xhr2 = new XMLHttpRequest();
						xhr2.open("GET", url2, true);
						xhr2.onreadystatechange = function() {
						if (xhr2.readyState === 4 && xhr2.status === 200) {
							const data = JSON.parse(xhr2.responseText);
							// console.log(data);
							//Show time zone name in the badge
							window.vueInstance.timeZone = data.timeZoneName;
							//Save time offset of the latest search for local time computing
							// This offset is by second
							let totalOffset = (data.dstOffset + data.rawOffset)*1000;
							let d = new Date();
							let myTime = d.getTime();
							// This offset is by minute
							let myOffset = d.getTimezoneOffset()*60000; 
							// Calculate UTC time by my time and my offset 
							let utc = myTime + myOffset;
							// Calculate the local time of the lastest searched place 
							let localTimeStamp = utc + totalOffset;
							let localTime = new Date(localTimeStamp);
							let formattedTime = dayjs(localTime).format('MM/DD/YYYY HH:mm');
						

							window.vueInstance.currentTime = formattedTime;
						}
						};
						xhr2.send();
						},

						showErrorModal(errorMessage) {
							this.error = errorMessage;
							},
						closeErrorModal() {
						this.error = null;
						}
					
				},
				
					
				mounted() {
					
					//Save vue instance to window object
					window.vueInstance = this;
					//Load markerlist on the map
					function initMap() {
					const map = new google.maps.Map(document.getElementById("mapCanvas"), {
						zoom: 3,
						center: { lat: 43.7482617, lng: -79.2894414 },
					});
					// Set LatLng and title text for the markers. The first marker (Boynton Pass)
					// receives the initial focus when tab is pressed. Use arrow keys to
					// move between markers; press tab again to cycle through the map controls.
					const markers = vueInstance.markerList;
					// Create an info window to share between markers.
					const infoWindow = new google.maps.InfoWindow();

					// Create the markers.
					markers.forEach(([position, title], i) => {
						const marker = new google.maps.Marker({
						position,
						map,
						title: `${i + 1}. ${title}`,
						label: {text:`${i + 1}`, color:"white"},
						// icon:'images/accu1.png',
						optimized: false,
						});

						// Add a click listener for each marker, and set up the info window.
						marker.addListener("click", () => {
						infoWindow.close();
						infoWindow.setContent(marker.getTitle());
						infoWindow.open(marker.getMap(), marker);
						});
					});
					return map;

					}

					window.initMap = initMap;

					
									

				},
			})
		</script>
	
		<style>
			.buttons-area{
				display:flex;
				margin:auto;
			}
			.pagination-nav{
				margin-top:8px;
			}
			.badge-area-left{
				margin-top:19px;
			}
			.badge-area-right{
				margin-top:19px;
				float:right;
			}
			.bg-secondary{
				margin-left:2px;
			}
			.card{
				margin:1% 1% 0 1%;
			}
			#location-button{
				margin-left: 5px;
			}
			#mapCanvas{
				height:65vh;margin:0 1%;
				border-radius: 0.0375rem;
			}
			#location-button{
				width: 40px;
			}


			.error-modal {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba(0, 0, 0, 0.5);
			}

			.error-modal__content {
			background-color: #fff;
			padding: 20px;
			border-radius: 5px;
			text-align: center;
			}

			.error-modal__content h2 {
			margin-top: 0;
			}

			.error-modal__content p {
			margin-bottom: 20px;
			}
		</style>

		
</html>